In [2]:
#Modules
import category_encoders as ce
import pandas as pd
import numpy as np

In [78]:
raw_data=pd.read_csv("Datasets/Rev/fossil-fuel-co2-emissions-by-nation.csv", header=0)
raw_data.head()

,Year,Country,Total,Solid Fuel,Liquid Fuel,Gas Fuel,Cement,Gas Flaring,Per Capita,Bunker fuels (Not in Total)
0,1751,UNITED KINGDOM,2552,2552,0,0,0,0,0.0,0
1,1752,UNITED KINGDOM,2553,2553,0,0,0,0,0.0,0
2,1753,UNITED KINGDOM,2553,2553,0,0,0,0,0.0,0
3,1754,UNITED KINGDOM,2554,2554,0,0,0,0,0.0,0
4,1755,UNITED KINGDOM,2555,2555,0,0,0,0,0.0,0

In [79]:
#We'll just use 1814-2014 i think and only use year, total, and solid fuel for its columns/
np.unique(raw_data["Year"])

year=[]; total=[]; solidfuel=[]
for i in range(1814, 2015):
    year.append(i)
    total.append(np.average(raw_data[raw_data["Year"]==i]["Total"].values))
    solidfuel.append(np.average(raw_data[raw_data["Year"]==i]["Solid Fuel"].values))

In [81]:
pd.DataFrame.to_csv(pd.DataFrame(zip(year, total, solidfuel), columns=["year", "total", "solidfuel"]), "Datasets/Rev/Cleaned.csv")